body {
  font-family: 'Pangolin', sans-serif;
  margin: 0px auto !important;
  padding: 0px;
  max-width: 100%;
  overflow-x: hidden;
}

.App {
  font-size: 25px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px 0px;
  margin: 0 auto;
}

.main-body {
  width: 360px;
  height: 625px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 15px;
  background-color: #fde7b4;
}

.navBar-holder {
  display: flex;
  width: 360px;
  height: 52px;
  background: #ff6347;
  justify-content: center;
  align-items: center;
}

/* NavBar Styles */

.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 90%;
}

.navBar-title-holder {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.navBar-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.navBar-item {
  display: flex;
  width: 30px;
  height: 30px;
  align-items: center;
  justify-content: space-around;
} 

.navBar-icon {
  width: 15px;
  height: 15px;
}

.navBar-brand {
  height: 25px;
  line-height: 25px;
}

.site-title {
  font-size: 10px;

}

/* AlphabetList Styles */

.alphabet-list {
  width: 360px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: space-between;
  gap: 20px;
  padding-top: 35px;
}

.letter-row {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 20px;
}

.tile-row {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 0.5px;
}

.tile-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.5px;
}

.tile-direction {
  display: flex;
  flex-direction: row;
}

.tile-letter {
  width: 30px;
  height: 30px;
  line-height: 30px;
  font-size: 25px;
  border: 1px solid coral;
  border-radius: 5px;
  cursor: pointer;
}

/* LanguageSwitch Styles */

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */

.slider.round {
  border-radius: 34px;
}
.slider.round:before {
  border-radius: 50%;
}

/* LetterDetail Styles */

.letter-detail {
  background-color: cornsilk;
  background-image: url("https://res.cloudinary.com/djqxogkfw/image/upload/v1660868115/Cory-Images/game_canvas_rvxiva.png");
  border: 1px solid #ff6347;
  width: 290px;
  height: 491.39px;
  border-radius: 15px;
  padding: 20px;
}

.playing-card {
  display: flex;
  flex-direction: column;
  align-content: center;
  row-gap: 15px;
}
.card-holder {
  display: flex;
  justify-content: center;
}

.xCloser-holder {
  display: flex;
  justify-content: flex-end;
}

.x-closer {
  /* 
    IMPROVEMENT NOTE:
    add animation, when not hovered over,
    leave as "X", else turn red with circle around it

  */
  cursor: pointer;
  font-size: 27px;
  color: #2f4f4f;
}

.image-holder {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 290px;
  height: 290px;
}

.animalName-holder {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 15px;
  height: 62px;
}

.animal-name-holder {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.animalName-details {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 20px;
}

.animal-name {
  font-size: 42px;
  align-self: center;
  line-height: 61px;
  height: 62px;
  margin-bottom: 0px;
  margin-top: 0px;
}

.audio-player {
  display: none;
}

.icon-holder {
  display: flex;
  justify-content: space-around;
}

.icon {
  font-size: 27px;
  cursor: pointer;
  color: #2f4f4f;
  display: flex;
  align-items: center;
}

.icon-heart {
  font-size: 27px;
  cursor: pointer;
  color: #2f4f4f;
}

.icon:hover,
.x-closer:hover {
  color: #4d8080 !important;
}

.spelling-card-holder {
  display: flex;
  flex-direction: row;
  gap: 1.5px;
}

.blank {
  display: flex;
  flex-direction: column;
}
